{% extends 'dashboard/index.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="page-edit">
        <div class="page-actions">
            <select id="bulk-actions" class="pull-left">
                <option value="0">Bulk actions</option>
                <option value="delete">Delete</option>
            </select>
            <a href="{{ path('invoices_new') }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i>New Invoice</a>
            <div class="clear"></div>
        </div>
        <div class="header">
            <table class="table-list-header">
                <thead>
                <th width="20px"><input id="checkbox-all" name="checkbox-all" type="checkbox"></th>
                <th>Reference</th>
                <th>Type</th>
                <th>Customer</th>
                <th>Issue Date</th>
                <th>Due Date</th>
                <th>Amount</th>
                <th class="actions"></th>
                </thead>
            </table>
        </div>
        <table class="table-list table-list-light">
            <tbody>
            {% for invoice in invoices %}
                <tr data-id="{{ invoice.id }}">
                    <td width="40px" class="checkbox-wrapper"><input class="checkbox-row" name="checkbox-row" value="{{ invoice.id }}" type="checkbox"></td>
                    <td>{{ invoice.reference }}</td>
                    <td>{{ invoice.type.name }}</td>
                    <td>{{ invoice.customer.firstName ~ ' ' ~ invoice.customer.lastName }}</td>
                    <td>{{ invoice.issueDate.format('d.m.Y') }}</td>
                    <td>{{ invoice.dueDate.format('d.m.Y') }}</td>
                    <td>{{ propertySummary(invoice.items, 'price') }}</td>
                    <td class="actions">

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#{{ pagerfanta(pager, 'twitter_bootstrap3', { routeName: 'mails_index', prev_message: '<i class="fa fa-angle-left"></i>', next_message: '<i class="fa fa-angle-right"></i>' }) }}#}
        {#<input id="token" type="hidden" value="{{ csrf_token('customers-delete') }}">#}
        {#<input id="delete-route" type="hidden" value="{{ path('customers_delete') }}">#}
    </div>
    <script src="{{ asset('build/table.js') }}"></script>
{% endblock %}