<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900&amp;subset=latin-ext" rel="stylesheet">
    <style type="text/css">
        html, body {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
        }

        .page {
            overflow: hidden;
            page-break-after: always;
        }

        .float-left {
            float: left;
        }

        .float-right {
            float: right;
        }

        .clear {
            clear: both;
        }

        .invoice-number {
            font-weight: 700;
            font-size: 30px;
            margin: 0;
        }

        .logo {
            font-size: 30px;
            font-weight: 900;
            color: #566071;
            margin: 0;
        }

        .general-dates {
            margin-top: 15px;
        }

        .general-dates p {
            margin: 0;
            font-size: 14px;
            margin-bottom: 3px;
        }

    </style>
</head>
<body>
    {% if invoice is not null %}
        <div class="page">
            <div class="invoice-number-wrapper">
                <h1 class="invoice-number float-left">{% trans %}INVOICE{% endtrans %} VAT nr {{ invoice.type.name|upper ~ '/' ~ invoice.reference}}</h1>
                <h1 class="logo float-right">CRM</h1>
                <div class="clear"></div>
            </div>
            <div class="general-dates">
                <p>{% trans %}Place of issue{% endtrans %}: </p>
                <p>{% trans %}Date of issue{% endtrans %}: <strong>{{ invoice.issueDate.format('d.m.Y') }}</strong></p>
                <p>{% trans %}Date of sale{% endtrans %}: <strong>{{ invoice.dueDate.format('d.m.Y') }}</strong></p>
                <p>{% trans %}Payment type and due date of payment{% endtrans %}: <strong>{{ invoice.type.name }}</strong></p>
            </div>
        </div>
    {% else %}
        <h1>{% trans %}Invoice not found{% endtrans %}</h1>
    {% endif %}
</body>
</html>
