{% extends 'dashboard/index.html.twig' %}
{% block content %}
    <div class="page-edit">
        <div class="header">
            <h1>Add new meeting</h1>
        </div>
        <div class="edit-form">
            {{ form_start(form, { attr: { class: 'col-lg-6 col-md-6 col-sm-6 col-xs-12 row' } }) }}
            <div id="meeting">
                <div>
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div>
                    {{ form_label(form.beginAt) }}
                    {{ form_widget(form.beginAt) }}
                </div>
                <div>
                    {{ form_label(form.endAt) }}
                    {{ form_widget(form.endAt) }}
                </div>
                <div>
                    {{ form_widget(form.submit) }}
                    {% if event is defined %}
                        {{ form_widget(form.delete, { attr: { 'data-toggle': 'modal', 'data-target': '#deleteModal' } }) }}
                    {% else %}
                        {{ form_widget(form.delete, { attr: { class: 'hidden' } }) }}
                    {% endif %}
                </div>
            </div>
            {{ form_end(form) }}
            <div class="clear"></div>
        </div>
        <div id="deleteModal" class="modal modal-delete fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header flex flex-column flex-center">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <i class="fa fa-exclamation-triangle"></i>
                        <h4 class="modal-title">Delete meeting</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>Do you want to delete this meeting?</p>
                    </div>
                    <div class="modal-footer flex flex-row flex-center">
                        <button type="button" class="btn btn-default btn-delete">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% if event is defined %}
        <input id="delete-id" type="hidden" name="delete-id" value="{{ event.id }}">
        <input id="delete-route" type="hidden" name="delete-route" value="{{ path('meetings_delete') }}">
        <script src="{{ asset('build/meeting.js') }}"></script>
    {% endif %}
{% endblock %}