{% extends 'base.html.twig' %}
{% block title %}
{{ title }}
{% endblock %}
{% block body %}
    <div id="login">
        <form class="flex flex-column" action="{{ path('login_check') }}" method="post">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_label(form.password) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
            {{ form_widget(form.submit) }}
            {% if error %}
                <p class="login-errors">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <input type="hidden" name="_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>
{% endblock %}